<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demo02</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.cqupt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllBookServlet</display-name>
    <servlet-name>ListAllBookServlet</servlet-name>
    <servlet-class>edu.cqupt.servlet.ListAllBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllBookServlet</servlet-name>
    <url-pattern>/list_all_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetailsServlet</display-name>
    <servlet-name>BookDetailsServlet</servlet-name>
    <servlet-class>edu.cqupt.servlet.BookDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetailsServlet</servlet-name>
    <url-pattern>/get_book_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>edu.cqupt.servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/update_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBookInfo</display-name>
    <servlet-name>GetBookInfo</servlet-name>
    <servlet-class>edu.cqupt.servlet.GetBookInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBookInfo</servlet-name>
    <url-pattern>/get_book_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>edu.cqupt.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/add_book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>edu.cqupt.servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/delete_book</url-pattern>
  </servlet-mapping>
</web-app>